.logo{
    margin-top: .33em;
    margin-right: 1em;
    margin-left: .5em;
}
.navbar-row{
    font-size: larger;
    position:sticky;
    top:0;
    z-index: 1;
}
.green-span{
    color:#0F9D58
}
.red-span{
    color:#DB4437
}
.yellow-span{
    color:#F4B400
}