.search-gradient{
    background:linear-gradient(-45deg, #ffffff, #fafafa, #e6f7ff, #bae7ff);
    background-size: 100% 100%;
    animation: gradient 10s ease infinite;
    height: 100vh;
}

@keyframes gradient{
    0%{
        background-position: 0% 50%;        
    }
    50%{
        background-position:  100% 50%;
    }
    100%{
        background-position:  0% 50%;
    }
}